<%- include ('header') %>
    
<h2>
    Nova categorias:
    <a href="/admin/categorias">Categorias</a>
</h2>
<%-  %>
<div>
<form method="POST">
  <label>Categoria</label>
  <input type="text" name="categoria">
  <br>
    <button>Salvar Categoria</button>
</form>
</div>

<%- include ('footer') %>
